<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="footer" th:fragment="foot">
		<footer class="footer navbar-inverse navbar-fixed-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<p class="text-muted">@Copyright 2020 Vinaykumar Dubey</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="js/site.js"></script>
	</div>
</body>
</html>
